body {
    font-family: 'Manrope'; 
    font-size: 14px;
    background-color: #ffffff;
}

.login_animation {
    animation: fadeInUpBig; 
    animation-duration: 1s;
}

.screenloader {
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}