@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins'; 
    font-size: 14px;
    background-color: #ffffff;
}

small {
    font-size: 12px;
    color: #8f8f8f;
}

p {
    font-size: 12px;
}

.container {
    max-width: 450px;
    background: white;
}

.card {
    border-radius: 10px;
}

.select-area + .select2-container .select2-selection {
    border: 0;
    background: #f8f9fa
}

.select-cabang + .select2-container .select2-selection {
    border: 0;
    background: #f8f9fa
}

.select-jabatan + .select2-container .select2-selection {
    border: 0;
    background: #f8f9fa
}

.form-control {
    font-size: 13px;
}

.signin_animation {
    animation: fadeInUpBig; 
    animation-duration: 1s;
}

.signup_animation {
    animation: fadeInUpBig; 
    animation-duration: 1s;
}

.ecard_animation {
    animation: slideInUp;
    animation-duration: 1s;
}

.screenloader {
    -webkit-animation: fadeinout 3s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}